aiofiles
aiohttp
aiosnmp
argparse
async_timeout
backoff
base64
beautifulsoup4
biopython  # Biyoloji modülleri için, ama kodunda varsa
colorama
concurrent.futures
cryptography
csv
dash
dataclasses
dataclasses_json
datetime
deque
dns.resolver
docker
enum
getpass
graphviz
gzip
h5py
hashlib
hmac
html
importlib.util
ipaddress
joblib
json
jwt
logging
matplotlib  # Grafik için
mininet
netifaces
numpy
openpyxl
os
pandas
pathlib
pickle
plotly
prometheus_client
psutil
pubchempy
pygame  # Oyun için, ama kodunda varsa
pymodbus
pysnmp
pyyaml
queue
random
rdkit  # Kimya için
re
requests
resource
retrying
scapy
scipy
secrets
select
shlex
shutil
signal
sklearn  # scikit-learn
socket
ssl
statsmodels
struct
subprocess
sympy
sys
syslog
systemd  # journal için
tarfile
tenacity
threading
time
tqdm
typing
urllib.parse
urllib3
uuid
warnings
xml.etree.ElementTree
yaml
zipfile
zlib